extends nav.pug
block content
  h1 Library Manager
  p Welcome to Library Manager
  ul
    li
      | Books
      ul
        li
          a(href='/books/new_book/') New Book
        li
          a(href='/books/all_books/?page=1') List All
        li
          a(href='/books/all_books/?filter=overdue&page=1') List Overdue
        li
          a(href='/books/all_books/?filter=checked&page=1') List Checked Out
    li
      | Patrons
      ul
        li
          a(href='/patrons/new_patron') New Patron
        li
          a(href='/patrons/all_patrons') List All
    li
      | Loans
      ul
        li
          a(href='/loans/new_loan') New Loan
        li
          a(href='/loans/all_loans/?filter=none&page=1') List All
        li
          a(href='/loans/all_loans?filter=overdue&page=1') List Overdue
        li
          a(href='/loans/all_loans?filter=checked&page=1') List Checked Out
